# Pandas
## 基本操作

In [2]:
import numpy as np
import pandas as pd

## Series : 單欄/一維

In [3]:
s1 = pd.Series([78,82,86,65]) # default index 0,1,2,3
print(s1)

s1 = pd.Series([78,82,86,65], index=['A','B','C','D'])#list("ABCD")
print(s1)
print(s1[0], s1["A"])

s1 = pd.Series({'a':78,'b':82,'c':86,'d':65}) # dictionary
print(s1)

0    78
1    82
2    86
3    65
dtype: int64
A    78
B    82
C    86
D    65
dtype: int64
78 78
a    78
b    82
c    86
d    65
dtype: int64

C:\Users\monic\AppData\Local\Temp\ipykernel_17312\648501275.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[0], s1["A"])

In [46]:
print(s1[0], type(s1[0])) # s1[0] is a value, not an index 
print(s1['a'], type(s1['a'])) # s1['a'] is a value, not an index
print(s1.a, type(s1.a)) #s1.a is an attribute of s1
print('--'*20)

print(s1.index) # index of series
print(s1.values) # values of series
print('--'*20)

print(s1.index[0], s1.values[0]) # first index and value
print(s1.index[1], s1.values[1]) # second index and value
print(s1.index[2], s1.values[2]) # third index and value
print('--'*20)

print(s1['b':'c']) # slicing by index labels
print('--'*20)

print(s1[0:2]) # slicing by position
print('--'*20)

print(s1[0:2].index) # index of sliced series
print('--'*20)

print(s1[0:2].values) # values of sliced series
print('--'*20)

print(s1[s1 > 80]) # boolean indexing
print(s1[s1 > 80].index) # index of boolean indexed series
print(s1[s1 > 80].values) # values of boolean indexed series

78 <class 'numpy.int64'>
78 <class 'numpy.int64'>
78 <class 'numpy.int64'>
----------------------------------------
Index(['a', 'b', 'c', 'd'], dtype='object')
[78 82 86 65]
----------------------------------------
a 78
b 82
c 86
----------------------------------------
b    82
c    86
dtype: int64
----------------------------------------
a    78
b    82
dtype: int64
----------------------------------------
Index(['a', 'b'], dtype='object')
----------------------------------------
[78 82]
----------------------------------------
b    82
c    86
dtype: int64
Index(['b', 'c'], dtype='object')
[82 86]

C:\Users\monic\AppData\Local\Temp\ipykernel_17312\1160937552.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[0], type(s1[0])) # s1[0] is a value, not an index

In [5]:
print(s1+[10])

a    88
b    92
c    96
d    75
dtype: int64

In [6]:
print(s1[:'c'])#'c'有包含

a    78
b    82
c    86
dtype: int64

## DataFrame: 多欄/二維

In [7]:
import pandas as pd

df1 = pd.DataFrame([[11,22,33],
                    [31,32,33],
                    [51,52,53]]
                  )
print(df1)
df1

    0   1   2
0  11  22  33
1  31  32  33
2  51  52  53

    0   1   2
0  11  22  33
1  31  32  33
2  51  52  53

In [8]:
import pandas as pd

df1 = pd.DataFrame([[11,22,33],
                    [31,32,33],
                    [51,52,53]],
                   index= ["X","Y","Z"], #list("XYZ")
                   columns=['a1','b1','c1']
                  )
print(df1)
print(df1['a1'])#以欄為主
print('-------------')
#print(df1['Z'])#無法讀取row
print('-------------')
print(df1['a1':'c1'])

   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
X    11
Y    31
Z    51
Name: a1, dtype: int64
-------------
-------------
Empty DataFrame
Columns: [a1, b1, c1]
Index: []

In [9]:

df2 = pd.DataFrame({'name':['JOE',"MARY","BEN"],
                   "score":[82,81,79]},
                  index=list("ABC"))
print(df2)
#print(df2['A'][ "score"])
print('-------------')
#以欄為主
print(df2.name) #單欄，一維
print(df2['name'])#單欄，一維
print(df2[['name']])#多欄，二維
#print(df2[0])
#print(df2['A'][[ "name"]])

   name  score
A   JOE     82
B  MARY     81
C   BEN     79
-------------
A     JOE
B    MARY
C     BEN
Name: name, dtype: object
A     JOE
B    MARY
C     BEN
Name: name, dtype: object
   name
A   JOE
B  MARY
C   BEN

In [10]:
import pandas as pd

df3 = pd.read_csv("34193e9.csv"
                 ,header=None #不要讓第一筆資料來當標題
                 , names=['name','no','start_end','step','logo','car_no']
                 )
#預設會抓第一列當欄位名，header=None不要抓第一列，可用names=[]來指定欄位名

df3

   name   no         start_end  step   logo         car_no
0  雲林客運  101  斗六棒球場-受天宮-環球科技大學     3  凱勝比亞迪  KGETM3EV-K9DA
1  雲林客運  102       斗六火車站-崙仔集會所     3  凱勝比亞迪  KGETM3EV-K9DA
2  雲林客運  201      高鐵雲林站-雲林科技大學     6  馨盛比亞迪   SYTCITY8E-K9

In [11]:
url="Thyroid_Diff.csv"

df41 = pd.read_csv(url)#, header=None
df41

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
0,27,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,No
1,34,F,No,Yes,No,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
2,30,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
3,62,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
4,62,F,No,No,No,Euthyroid,Multinodular goiter,No,Micropapillary,Multi-Focal,Low,T1a,N0,M0,I,Excellent,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,72,M,Yes,Yes,Yes,Euthyroid,Single nodular goiter-right,Right,Papillary,Uni-Focal,High,T4b,N1b,M1,IVB,Biochemical Incomplete,Yes
379,81,M,Yes,No,Yes,Euthyroid,Multinodular goiter,Extensive,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
380,72,M,Yes,Yes,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
381,61,M,Yes,Yes,Yes,Clinical Hyperthyroidism,Multinodular goiter,Extensive,Hurthel cell,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes
382,67,M,Yes,No,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes

In [12]:
#url = "https://data.kcg.gov.tw/dataset/90d23726-3b3b-4a3b-8403-765c873fe3fa/resource/8a884595-d837-44ed-b89b-78e6f017a0ba/download/tourismmap.csv"
#臺北市觀光遊憩按月別
url="	https://tsis.dbas.gov.taipei/statis/webMain.aspx?sys=220&ymf=8701&kind=21&type=0&funid=a04001201&cycle=1&outmode=12&compmode=0&outkind=1&deflst=2&nzo=1"
df4 = pd.read_csv(url)#, header=None
df4

,統計期,臺北市立美術館參觀人次,臺北市立動物園參觀人次,臺北市立兒童新樂園入園人次,臺北市立天文科學教育館參觀人次,士林官邸公園參觀人次,臺北自來水園區參觀人次,北投溫泉博物館參觀人次,台北探索館參觀人次,藍色水路載客人次
0,87年 1月,0,514651,153484,80232,0,0,0,0,0
1,87年 2月,0,443717,138865,125851,0,0,0,0,0
2,87年 3月,0,375428,115554,79392,0,0,0,0,0
3,87年 4月,0,405063,151608,115332,0,0,0,0,0
4,87年 5月,0,337579,101861,82064,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
325,114年 2月,70243,217591,137728,85244,625268,28281,38012,0,2459
326,114年 3月,55981,224230,116253,89757,237373,30624,36252,0,4427
327,114年 4月,67987,239623,185571,99891,160746,30452,35904,0,3906
328,114年 5月,72877,206991,140048,93455,75843,34027,30973,0,5334
329,114年 6月,81672,98306,120266,105814,55601,76302,24616,0,5632

In [13]:
print(df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   統計期              330 non-null    object
 1   臺北市立美術館參觀人次      330 non-null    int64
 2   臺北市立動物園參觀人次      330 non-null    int64
 3   臺北市立兒童新樂園入園人次    330 non-null    int64
 4   臺北市立天文科學教育館參觀人次  330 non-null    int64
 5   士林官邸公園參觀人次       330 non-null    int64
 6   臺北自來水園區參觀人次      330 non-null    int64
 7   北投溫泉博物館參觀人次      330 non-null    int64
 8   台北探索館參觀人次        330 non-null    int64
 9   藍色水路載客人次         330 non-null    int64
dtypes: int64(9), object(1)
memory usage: 25.9+ KB
None

In [14]:
#print(df3.describe())
print(df4.describe())#顯示數字類型欄位的統計值

         臺北市立美術館參觀人次    臺北市立動物園參觀人次  臺北市立兒童新樂園入園人次  臺北市立天文科學教育館參觀人次  \
count     330.000000     330.000000     330.000000       330.000000
mean    39962.160606  278039.969697  120657.742424     66681.315152
std     41105.298742  120830.168028   71898.810269     30935.693561
min         0.000000       0.000000       0.000000         0.000000
25%     23700.000000  206601.750000   72299.500000     46606.500000
50%     34251.000000  256344.500000  103512.500000     60921.000000
75%     47842.750000  333651.250000  150217.000000     85804.250000
max    330116.000000  871439.000000  568644.000000    275255.000000

          士林官邸公園參觀人次    臺北自來水園區參觀人次   北投溫泉博物館參觀人次     台北探索館參觀人次      藍色水路載客人次
count     330.000000     330.000000    330.000000    330.000000    330.000000
mean   130342.781818   58182.900000  19898.175758  13590.542424   5119.287879
std    129574.183938   50734.849598  16325.382148  10823.576420   8227.386423
min         0.000000       0.000000      0.000000      0.000000      0.000000
25%     58842.250000   11801.500000      0.000000   1382.500000      0.000000
50%    102605.000000   54755.000000  19219.500000  14242.500000   4287.000000
75%    150150.000000   89097.000000  32634.750000  19759.250000   7190.500000
max    771583.000000  206878.000000  61121.000000  48733.000000  89976.000000

In [15]:
print(df3.info())
print(df3.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3 non-null      object
 1   no         3 non-null      int64
 2   start_end  3 non-null      object
 3   step       3 non-null      int64
 4   logo       3 non-null      object
 5   car_no     3 non-null      object
dtypes: int64(2), object(4)
memory usage: 276.0+ bytes
None
               no      step
count    3.000000  3.000000
mean   134.666667  4.000000
std     57.448528  1.732051
min    101.000000  3.000000
25%    101.500000  3.000000
50%    102.000000  3.000000
75%    151.500000  4.500000
max    201.000000  6.000000

### 元素的操作
1. 指定
2. loc[]
3. iloc[]

In [16]:
df1 = pd.DataFrame([[11,22,33],
                    [31,32,33],
                    [51,52,53]],
                   index= ["X","Y","Z"], #list("XYZ")
                   columns=['a1','b1','c1']
                  )
print(df1)
print('------------')

   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
------------

In [17]:

# 指定：1)單一指定 2)範圍指定--> 適合只操作欄
print(df1['c1'], type(df1['c1']))# Series
print(df1.c1, type(df1.c1))# Series

print(df1[['c1']], type(df1[['c1']]))# DataFrame

X    33
Y    33
Z    53
Name: c1, dtype: int64 <class 'pandas.core.series.Series'>
X    33
Y    33
Z    53
Name: c1, dtype: int64 <class 'pandas.core.series.Series'>
   c1
X  33
Y  33
Z  53 <class 'pandas.core.frame.DataFrame'>

In [18]:

print('不連續的多欄----------------')
print(df1[['c1','b1']])#不連續的多欄

不連續的多欄----------------
   c1  b1
X  33  22
Y  33  32
Z  53  52

In [19]:

print('連續的多列----------------')
# []以範圍指定, 並且以數字,文字表示＝> 以列row為主
print(df1[:2])#用數字表達連續的多列, 2不含，仿 numpy,list的操作
print(df1[:"Z"])#用文字表達連續的多列, 會包含
print('----------------')
print(df1[:2][:1])#多個[範圍], 只會以最後一個為主
#print(df1['a1':'c1'])

連續的多列----------------
   a1  b1  c1
X  11  22  33
Y  31  32  33
   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
----------------
   a1  b1  c1
X  11  22  33

In [20]:

print('連續的多列單欄----------------')
print(df1[:"Y"][['a1']])#X、Y二列裡的a1欄

連續的多列單欄----------------
   a1
X  11
Y  31

In [21]:
print('連續範圍列+不連續的多欄----------------')
print(df1[:"Y"][['a1','c1']])#X、Y二列裡的a1，c1二欄

連續範圍列+不連續的多欄----------------
   a1  c1
X  11  33
Y  31  33

In [22]:

print('連續範圍列+連續的多欄----------------')
print(df1[:"Y"]['a1':'c1']) #多個[範圍], 只會以最後一個為主
print("--------------------")
print(df1[:"Y"][0:2])#多個[範圍], 只會以最後一個為主
print('指定單欄----------------')
print(df1.c1)

連續範圍列+連續的多欄----------------
Empty DataFrame
Columns: [a1, b1, c1]
Index: []
--------------------
   a1  b1  c1
X  11  22  33
Y  31  32  33
指定單欄----------------
X    33
Y    33
Z    53
Name: c1, dtype: int64

In [23]:
print(df1)

# 指定：1)單一指定 2)範圍指定
print(df1['c1'])
print(df1[['c1']])
print(df1[['a1','c1']]) # 不連續的多欄
print(df1[:1][['a1','c1']]) # 
print('-----------------')
print(df1.a1)
print('-----------------')
#print(df1[:1][['a1':'c1']])
print(df1[:2])

   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
X    33
Y    33
Z    53
Name: c1, dtype: int64
   c1
X  33
Y  33
Z  53
   a1  c1
X  11  33
Y  31  33
Z  51  53
   a1  c1
X  11  33
-----------------
X    11
Y    31
Z    51
Name: a1, dtype: int64
-----------------
   a1  b1  c1
X  11  22  33
Y  31  32  33

In [24]:
# loc[]
#loc[]：以標籤為主
#loc[列 , 欄]：可採用單一/連續範圍/[不連續多個]
print(df1)
print('----------------')
print(df1.loc['X','a1':'b1'])#'b1'有包含
print(df1.loc[['X',"Y"], 'b1':])
print(df1.loc[:, 'b1':])

   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
----------------
a1    11
b1    22
Name: X, dtype: int64
   b1  c1
X  22  33
Y  32  33
   b1  c1
X  22  33
Y  32  33
Z  52  53

In [25]:

print(df1.loc["X":"Z",'a1':'c1'])#"Z", "c1"有包含
print('----------------')
print(df1.loc[:,['a1','c1']])
print('----------------')
print(df1.loc['Y','a1'])#31

   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
----------------
   a1  c1
X  11  33
Y  31  33
Z  51  53
----------------
31

In [26]:
#iloc[]
#iloc[]：以數字為主
#iloc[列 , 欄]：可採用單一/連續範圍/[不連續多個]

print(df1, "\n")
print(df1.iloc[0, :],"\n")
print(df1.iloc[:, [0,2]])
print("-----------------")
print(df1.iloc[0:2,0:2])#不包含尾
print("-----------------")
print(df1.loc['X':'Z','a1':'c1'])#包含尾
print("-----------------")
print(df1[:][['a1','c1']])

   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53

a1    11
b1    22
c1    33
Name: X, dtype: int64

   a1  c1
X  11  33
Y  31  33
Z  51  53
-----------------
   a1  b1
X  11  22
Y  31  32
-----------------
   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
-----------------
   a1  c1
X  11  33
Y  31  33
Z  51  53

In [27]:
print(df1.loc['X', 'a1':'b1'])#指定'X'(row), 'a1':'b1'(col,'b1'有包含)

print(df1.loc[['X','Y'], :'b1'])#指定'X'+'Y'(row), 'a1':'b1'(col,'b1'有包含)

a1    11
b1    22
Name: X, dtype: int64
   a1  b1
X  11  22
Y  31  32

## Python 內建迭代器 Itertools

In [28]:
arr = [78,62,73,85,69]

for i,j in enumerate(arr):#逐一取出資料並加上index
    print(i,"---",j)
print('-----------------')
for i in enumerate(arr):#逐一取出資料並加上index
    print(i)#包含 index + 值 -->()tuple

print('-----------------')
for x in zip(arr, [10,20,30,40,50],['a','v','r','t','k']):# 將各組資料依順序取出，組合成tuple
    print(x)
print('-----------------')
for x,y,z in zip(arr, [10,20,30,40,50],['a','v','r','t','k']):# 將各組資料依順序取出，沒有組合
    print(x, y, z)

0 --- 78
1 --- 62
2 --- 73
3 --- 85
4 --- 69
-----------------
(0, 78)
(1, 62)
(2, 73)
(3, 85)
(4, 69)
-----------------
(78, 10, 'a')
(62, 20, 'v')
(73, 30, 'r')
(85, 40, 't')
(69, 50, 'k')
-----------------
78 10 a
62 20 v
73 30 r
85 40 t
69 50 k

In [29]:
import itertools

# 組合：元素不可重覆
p = itertools.combinations([55,66,77,88], 2)
print(p)
#print(list(p))#取出並展開形成list
ps = list(p)
print(ps)
print(len(ps))

#排列：元素可重覆
q = itertools.permutations([55,66,77,88], 2)
print(list(q))

<itertools.combinations object at 0x000001C9E2FD67F0>
[(55, 66), (55, 77), (55, 88), (66, 77), (66, 88), (77, 88)]
6
[(55, 66), (55, 77), (55, 88), (66, 55), (66, 77), (66, 88), (77, 55), (77, 66), (77, 88), (88, 55), (88, 66), (88, 77)]

## 綜合練習：資料清理-空值轉換

In [30]:
# No module named 'seaborn'
# %pip install seaborn

In [31]:
import seaborn as sns
import numpy as np
import pandas as pd

In [32]:
#df = sns.load_dataset('titanic')
df = pd.read_csv("titanic.csv")
print(df.head(10))#df.tail() #

   Unnamed: 0  survived  pclass     sex   age  sibsp  parch     fare embarked  \
0           0         0       3    male  22.0      1      0   7.2500        S
1           1         1       1  female  38.0      1      0  71.2833        C
2           2         1       3  female  26.0      0      0   7.9250        S
3           3         1       1  female  35.0      1      0  53.1000        S
4           4         0       3    male  35.0      0      0   8.0500        S
5           5         0       3    male   NaN      0      0   8.4583        Q
6           6         0       1    male  54.0      0      0  51.8625        S
7           7         0       3    male   2.0      3      1  21.0750        S
8           8         1       3  female  27.0      0      2  11.1333        S
9           9         1       2  female  14.0      1      0  30.0708        C

    class    who  adult_male deck  embark_town alive  alone
0   Third    man        True  NaN  Southampton    no  False
1   First  woman       False    C    Cherbourg   yes  False
2   Third  woman       False  NaN  Southampton   yes   True
3   First  woman       False    C  Southampton   yes  False
4   Third    man        True  NaN  Southampton    no   True
5   Third    man        True  NaN   Queenstown    no   True
6   First    man        True    E  Southampton    no   True
7   Third  child       False  NaN  Southampton    no  False
8   Third  woman       False  NaN  Southampton   yes  False
9  Second  child       False  NaN    Cherbourg   yes  False

In [33]:
print(df.info()) # 顯示欄位名稱、資料型態、非空值數量、記憶體使用量等資訊

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          714 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     889 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  adult_male   891 non-null    bool
 12  deck         203 non-null    object
 13  embark_town  889 non-null    object
 14  alive        891 non-null    object
 15  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 99.3+ KB
None

In [34]:
print(df.describe()) # 顯示數字類型欄位的統計值

       Unnamed: 0    survived      pclass         age       sibsp       parch  \
count  891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean   445.000000    0.383838    2.308642   29.699118    0.523008    0.381594
std    257.353842    0.486592    0.836071   14.526497    1.102743    0.806057
min      0.000000    0.000000    1.000000    0.420000    0.000000    0.000000
25%    222.500000    0.000000    2.000000   20.125000    0.000000    0.000000
50%    445.000000    0.000000    3.000000   28.000000    0.000000    0.000000
75%    667.500000    1.000000    3.000000   38.000000    1.000000    0.000000
max    890.000000    1.000000    3.000000   80.000000    8.000000    6.000000

             fare
count  891.000000
mean    32.204208
std     49.693429
min      0.000000
25%      7.910400
50%     14.454200
75%     31.000000
max    512.329200

In [35]:
print(df.head(10))# df.tail(10)

   Unnamed: 0  survived  pclass     sex   age  sibsp  parch     fare embarked  \
0           0         0       3    male  22.0      1      0   7.2500        S
1           1         1       1  female  38.0      1      0  71.2833        C
2           2         1       3  female  26.0      0      0   7.9250        S
3           3         1       1  female  35.0      1      0  53.1000        S
4           4         0       3    male  35.0      0      0   8.0500        S
5           5         0       3    male   NaN      0      0   8.4583        Q
6           6         0       1    male  54.0      0      0  51.8625        S
7           7         0       3    male   2.0      3      1  21.0750        S
8           8         1       3  female  27.0      0      2  11.1333        S
9           9         1       2  female  14.0      1      0  30.0708        C

    class    who  adult_male deck  embark_town alive  alone
0   Third    man        True  NaN  Southampton    no  False
1   First  woman       False    C    Cherbourg   yes  False
2   Third  woman       False  NaN  Southampton   yes   True
3   First  woman       False    C  Southampton   yes  False
4   Third    man        True  NaN  Southampton    no   True
5   Third    man        True  NaN   Queenstown    no   True
6   First    man        True    E  Southampton    no   True
7   Third  child       False  NaN  Southampton    no  False
8   Third  woman       False  NaN  Southampton   yes  False
9  Second  child       False  NaN    Cherbourg   yes  False

In [36]:
print(df.isnull().sum())#累計每一欄裡，空值的總數

Unnamed: 0       0
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [37]:
# age:數字

#a = df.loc[:, 'age'].median()
#df.loc[:, 'age'] = df.loc[:, 'age'].fillna(a)
# 上面兩行=下面一行

df.loc[:, 'age'] = df.loc[:, 'age'].fillna(df.loc[:, 'age'].median())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     889 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  adult_male   891 non-null    bool
 12  deck         203 non-null    object
 13  embark_town  889 non-null    object
 14  alive        891 non-null    object
 15  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 99.3+ KB
None

In [38]:
# embarked: 字串
print(df.embarked.unique())#去重覆值
print(df.loc[:,'embarked'].unique())
print(df.embarked.value_counts())#計算每個值的數量

['S' 'C' 'Q' nan]
['S' 'C' 'Q' nan]
embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [39]:
#查詢參數
df.fillna?

Signature:
df.fillna(
    value: 'Hashable | Mapping | Series | DataFrame | None' = None,
    *,
    method: 'FillnaOptions | None' = None,
    axis: 'Axis | None' = None,
    inplace: 'bool_t' = False,
    limit: 'int | None' = None,
    downcast: 'dict | None | lib.NoDefault' = <no_default>,
) -> 'Self | None'
Docstring:
Fill NA/NaN values using the specified method.

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a
    dict/Series/DataFrame of values specifying which value to use for
    each index (for a Series) or column (for a DataFrame).  Values not
    in the dict/Series/DataFrame will not be filled. This value cannot
    be a list.
method : {'backfill', 'bfill', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series:

    * ffill: propagate last valid observation forward to next valid.
    * backfill / bfill: use next valid observation to fill gap.

    .. deprecated:: 2.1.0
        Use ffill or bfill instead.

axis : {0 or 'index'} for Series, {0 or 'index', 1 or 'columns'} for DataFrame
    Axis along which to fill missing values. For `Series`
    this parameter is unused and defaults to 0.
inplace : bool, default False
    If True, fill in-place. Note: this will modify any
    other views on this object (e.g., a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled. Must be greater than 0 if not None.
downcast : dict, default is None
    A dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible).

    .. deprecated:: 2.2.0

Returns
-------
Series/DataFrame or None
    Object with missing values filled or None if ``inplace=True``.

See Also
--------
ffill : Fill values by propagating the last valid observation to next valid.
bfill : Fill values by using the next valid observation to fill the gap.
interpolate : Fill NaN values using interpolation.
reindex : Conform object to new index.
asfreq : Convert TimeSeries to specified frequency.

Examples
--------
>>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
...                    [3, 4, np.nan, 1],
...                    [np.nan, np.nan, np.nan, np.nan],
...                    [np.nan, 3, np.nan, 4]],
...                   columns=list("ABCD"))
>>> df
     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

Replace all NaN elements with 0s.

>>> df.fillna(0)
     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
2, and 3 respectively.

>>> values = {"A": 0, "B": 1, "C": 2, "D": 3}
>>> df.fillna(value=values)
     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  2.0  3.0
3  0.0  3.0  2.0  4.0

Only replace the first NaN element.

>>> df.fillna(value=values, limit=1)
     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  NaN  1.0
2  NaN  1.0  NaN  3.0
3  NaN  3.0  NaN  4.0

When filling using a DataFrame, replacement happens along
the same column names and same indices

>>> df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCE"))
>>> df.fillna(df2)
     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  NaN
3  0.0  3.0  0.0  4.0

Note that column D is not affected since it is not present in df2.
File:      c:\users\monic\appdata\local\programs\python\python312\lib\site-packages\pandas\core\generic.py
Type:      method

In [40]:
df.loc[:,'embarked'].fillna(method='ffill', inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     891 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  adult_male   891 non-null    bool
 12  deck         203 non-null    object
 13  embark_town  889 non-null    object
 14  alive        891 non-null    object
 15  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 99.3+ KB
None

C:\Users\monic\AppData\Local\Temp\ipykernel_17312\2089334776.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.loc[:,'embarked'].fillna(method='ffill', inplace=True)
C:\Users\monic\AppData\Local\Temp\ipykernel_17312\2089334776.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.loc[:,'embarked'].fillna(method='ffill', inplace=True)

In [41]:
# embark_town:字串

mod = df.loc[:,'embark_town'].mode()#眾數(形成 Series)
print(mod)
print(type(mod))
print(mod[0])

df.loc[:,'embark_town'].fillna(mod[0], inplace=True)
print(df.info())

0    Southampton
Name: embark_town, dtype: object
<class 'pandas.core.series.Series'>
Southampton
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     891 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  adult_male   891 non-null    bool
 12  deck         203 non-null    object
 13  embark_town  891 non-null    object
 14  alive        891 non-null    object
 15  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 99.3+ KB
None

C:\Users\monic\AppData\Local\Temp\ipykernel_17312\371221793.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.loc[:,'embark_town'].fillna(mod[0], inplace=True)

In [42]:
df.drop?

Signature:
df.drop(
    labels: 'IndexLabel | None' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel | None' = None,
    columns: 'IndexLabel | None' = None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by directly specifying index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the :ref:`user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    in place and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    Returns DataFrame or None DataFrame with the specified
    index or column labels removed or None if inplace=True.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
llama   speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      c:\users\monic\appdata\local\programs\python\python312\lib\site-packages\pandas\core\frame.py
Type:      method

In [43]:
# deck
df = df.drop(['deck'],axis=1) # axis=1表示刪除欄位
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     891 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  adult_male   891 non-null    bool
 12  embark_town  891 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(5), object(6)
memory usage: 92.4+ KB
None