In [ ]:
%pip install seaborn

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('titanic')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [ ]:
print(df.describe()) # summary statistics
#「概述統計量」或「摘要統計」，指透過整理和摘要資料，以圖表或數值來描述資料特徵（如樣本數、平均數、中位數等）的統計方法與量。

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [9]:
print(df.describe(include='object')) # 顯示文字欄位的統計值;summary statistics for categorical variables
# include='all' for all columns

print('---'* 30)

print(df['age'].describe()) # summary statistics for a specific column

print('---'* 30)

print(df.describe(include='all')) # summary statistics for all columns

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549
------------------------------------------------------------------------------------------
count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64
------------------------------------------------------------------------------------------
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [ ]:
print(df.isnull().sum()) # 計算每個欄位的遺失值數量;count missing values in each column

In [ ]:
df1 = df.dropna(axis = 0)#只要列包含空值就刪列
print(df1.info())

In [ ]:
# sklearn
from sklearn.impute import SimpleImputer
import numpy as np

In [ ]:
#查套件版本
import sys, sklearn, numpy as np

msg = {'Sklearn':sklearn, 'Numpy':np}

for i in msg.items():
    print('{} 版本:{}'.format(i[0],i[1].__version__))

In [ ]:
# sklearn

imr = SimpleImputer(missing_values = np.nan, strategy ='median')#mean
# 建立填補器
# missing_values = np.nan : 指定缺失值為NaN
# strategy = 'median' : 使用中位數來填補缺失值
# strategy = 'mean' : 使用平均值來填補缺失值
# strategy = 'most_frequent' : 使用眾數來填補缺失值
# strategy = 'constant' : 使用常數來填補缺失值，需指定fill_value參數
# fill_value = 0 : 當strategy='constant'時，指定填補的常數值為0

# fit()-->傳送資料
new_imr = imr.fit(df[['age']].values) #fit 一定要2維

# transform()-->轉換資料
# fit_transform()-->fit + transform
# 這裡的df[['age']].values是將DataFrame轉換為NumPy陣列格式，因為SimpleImputer需要2維的輸入。
# 填補缺失值
# 這裡使用中位數(median)來填補缺失值
# 如果要使用平均值(mean)，可以將strategy參數改為'mean'

# 填值完的結果
imr_data = new_imr.transform(df[['age']].values)

#imr_data = imr.fit_transform(df[['age']].values)
print(new_imr) # 印出填補器的資訊
print(imr_data) # 印出填補後的資料

In [ ]:
df[['age']] = imr_data #將算好的資料填回原df

df.info()

In [ ]:
# 處理文字
imr_most = SimpleImputer(strategy ='most_frequent')#眾數
imr_fill = SimpleImputer(strategy ='constant', fill_value= 'X')#指定填入

imr_data01 = imr_most.fit_transform(df[['embarked']].values)
imr_data02 = imr_fill.fit_transform(df[['embarked']].values)
print(imr_data01)
print("---------------")
print(imr_data02)

In [ ]:
print(df.embarked.unique())

In [ ]:
df[['embarked']] = imr_data01
df[['embark_town']] = imr_data02
df.info()

### Pandas 清理資料

In [ ]:
df = sns.load_dataset('titanic')
print(df.info())

In [ ]:
# 取中位數
a = df.loc[:, 'age'].median()

df.loc[:,'age'] = df.loc[:, 'age'].fillna(a)

print(df.info())

In [ ]:
df.fillna?

In [ ]:
# 調查'embarked'內容值（唯一值）
df.loc[:,'embarked'].unique()

In [ ]:
# 方法一
#df.loc[:,'embarked'] = df.loc[:,'embarked'].fillna(method = 'ffill')

df.loc[:,'embarked'].fillna(method = 'ffill', inplace = True)

print(df.info())
print(df.loc[:,'embarked'].unique())

In [ ]:
#方法二
mod = df.loc[:,'embark_town'].mode()

mod

In [ ]:
modStr = mod[0]
df.loc[:,'embark_town'].fillna(modStr, inplace = True)
print(modStr)

print(df.info())
print(df.loc[:,'embark_town'].unique())

# 刪除指定欄columns

In [ ]:
df = df.drop(['deck'],axis=1)
print(df.info())